


<p> &nbsp; &nbsp; &nbsp;Sign-up and Speak your voice </p>

<h2> Sign-up & Speak your voice </h2>

<div class = 'signupbox'>


<form action='/signup' method='POST' class="signup">


	<label type="text" for="username"> Username</label>
	<br>
	<input type="text" name="username" placeholder="What people call you" required>
	<br><br>
	<label type="text" for="email"> Email </label>
	<br>
	<input type="text" name="email" placeholder="the one with the @" required>
	<br><br>

	<label type="text" for="username"> Username </label>
	<input type="text" name="username" placeholder="What people call you" required> 
	<br>
	<label type="text" for="email"> Email </label>
	<input type="email" name="email" placeholder="the one with the @" required>
	<br>

	<label type="text" for="password"> Password </label>
	<br>
	<input type="password" name="password" placeholder="The secret word..." required>

	<br><br>

	<br>

	<input type="submit" value="Submit">

</form>
</div>

<div class = "video">

</div>

