

<p> &nbsp; &nbsp; &nbsp;Sign-up and Speak your voice </p>

<form action='/signup' method='POST' class="signup">

	<label type="text" for="username"> Username</label>
	<br>
	<input type="text" name="username" placeholder="What people call you" required>
	<br><br>
	<label type="text" for="email"> Email </label>
	<br>
	<input type="text" name="email" placeholder="the one with the @" required>
	<br><br>
	<label type="text" for="password"> Password </label>
	<br>
	<input type="password" name="password" placeholder="The secret word..." required>
	<br><br>
	<input type="submit" value="Submit">

</form>

