<form id="post" action="/post" method="POST" >
  <input type="text" name="input" id="textfield" />
  <textarea name="text" id="textarea" cols="45" rows="5"></textarea>
  <input type="submit" name="button" id="button" value="Send" />
  </form>