@font-face {
    font-family: "Slabo 27px";
    src: url('Slabo27px.ttf');
}
.container{
	margin: 0, auto;
	width: 70%;
	height:600px;
	display:inline-block;
}

a .edit{
	color:#fff;
}

html,body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body{
	font-family: "Slabo 27px";
	font-style: normal;
	font-weight: 100;
}
nav h1{
	margin:0, auto;
	padding-left:20px;
	color:white;
}
.nav-main{
	background-color:#52B3D9;
	height: 60px;
	width: 100%;
	font-size: 18px;
	z-index: 0;
	position:fixed;
}

.nav-section{
	background-color: rgba(231, 76, 60, .8);
	width: 100%;
	z-index: 1;
/*	float: right;
*/}

.sign{
	width:100%; 
	background-color: rgba(231, 76, 60, .8);
	position:relative;
	z-index: 100;
	box-shadow: 1px 1px 5px #888888;
}


iframe{
	float:right;
	padding-right:50px;
	padding-top:75px;
}
.signup{
	padding-left:50px;
	padding-top:10px;
	position:fixed;
}
.signin{
	padding-left:50px;
	padding-top:10px;
	position:fixed;
}
.gutter{
	height:100%;
	width:15%;
	background-color: rgba(0, 0, 0, .1);
}
.left{
	float:left;
	clear:left;

}
.right{
	float:right;
	clear:left;
	z-index: 100;		
}
a{
	text-decoration: none;
	color: #fff;
	padding-left:10px;
}

a:visited {
	text-decoration: none;
	color: #fff;
}
p{
	color:black;
	z-index:100;
	padding-top:25px;
	font-size: 24px;
}
.feed{
	float: right;
	clear: right;
	padding-top: 75px;
	padding-right:25px;
}
.pbutton{
	float:right;
}